@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap');


nav {
	font-size: 1.8em;
 	float: none;
}

nav a {
	text-decoration: none;
  font-weight: 600;
	color: black;
	margin: 1.8em;
	display: inline-block;
}

body {
      font-family: Neuton, Helvetica, "Times New Roman",Times, serif;
      font-size: 16px;
      line-height: 1.5em;
      color: #fff;
      background-color: #000
}

div {
    background-color: #7AACBF;
    border: 1px black solid;
    padding: 1.25em;
}

section {
    background-color: #7AACBF;
    border: 1px black solid;
    padding: 1.25em;
}
header {
      text-align:center;
      background-image: url('https://StormShadow.github.io/unit_5/images/Bio_Hero_Imag.jpg');
      background-size: cover;
      line-height: 1.5em;
      color: #fff;
      background-color: #7ED0D9
      border: 1px black solid;
      padding: 1.25em;
}

nav {
    background-color: #9BDAF2;
    border: 1px black solid;
    padding: 1.25em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column {
    background-color: #59332A;
    border: 1px black solid;
    padding: 1.25em;
}

#left {
    background-color: #3BBFB2;
    border: 1px black solid;
    padding: 1.25em;
    float: left;
    width: 60%;
}

#right {
    background-color: #F26052;
    border: 1px black solid;
    padding: 1.25em;
    float: right;
    width: 30%;
}

#two_column_2 {
    background-color: #59332A;
    border: 1px black solid;
    padding: 1.25em;
}

#left_2 {
    background-color: #3BBFB2;
    border: 1px black solid;
    padding: 1.25em;
    float: left;
    width: 60%;
}

#right_2 {
    background-color: #F26052;
    border: 1px black solid;
    padding: 1.25em;
    float: right;
    width: 30%;
}
aside {
    background-color: #F26052;
    border: 1px black solid;
    padding: 1.25em;
}

footer {
    background-color: #262621;
    border: 1px black solid;
    padding: 1.25em;
}

article {
    background-color: #3BBFB2;
    border: 1px black solid;
    padding: 1.25em;
}

.outline {
    -webkit-text-stroke: 1px black;
}

hr {
  width: 200px;
}

h1 {
      font-family: Nunito,Helvetica, "Times New Roman",Times, sans-serif;
}

p {
  font-size: 22px;
}

@media only screen and (max-width: 932px) {
  nav {
    float: none;
  }
  nav a {
      margin: 0 1.6em .75em 0;
  }
  section, {
    float: none;
    width: 100%
  }
  #left, #right, #left_2, #right_2 {
    float: none;
    width: 90%;
  }
  }
  img {
    width: 160px;
  }
  #about {
    font-size: 1.4em;
    line-height: 1.8em;
}
@media only screen and (max-width: 480px) {
  img {
    width: 80px;
  }
}
