@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');

body {
      text-align:center;
      background-image: url('https://stormshadow.github.io/unit_3/images/Hero_image_rs.jpg');
      background-size: cover;
      font-family: Neuton, Helvetica, "Times New Roman",Times, serif;
      line-height: 1.5em;
      color: #fff;
      background-color: #000
}

hr {
  width: 200px;
}

h1 {
      font-family: Heebo, Helvetica, "Times New Roman",Times, sans-serif;
}

p {
  font-size: 22px;
}
