body {
      text-align:center;
      background-image: url('https://stormshadow.github.io/unit_3/images/Hero_image_rs.jpg');
      background-size: cover;
      font-family:Helvetica, "Times New Roman",Times, serif;
      color: #fff;
      background-color: #000
}

hr {
  width: 200px;
}

p {
  font-size: 22px;
}
